@model IEnumerable<OnlineVoting.Models.VotingIndexView>

@{
    ViewBag.Title = "_ElectionAfterEdit";

}
    <section id="Elections">

            @foreach (var item in Model)
            {
                
                    @Html.HiddenFor(model => item.VotingId)
                    @*<td>
                    @Html.HiddenFor(modelItem => item.VotingId)
                    </td>*@
                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => item.State.Descripcion)
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </div>
                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => item.DateTimeStart)
                    </div>
                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => item.DateTimeEnd)
                    </div>

                    @* <td>
                        @Html.DisplayFor(modelItem => item.IsForAllUsers)
                    </td> *@

                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => item.IsEnableBlankVote)
                    </div>
                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => item.QuantityVotes)
                    </div>
                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => item.QuantityBlankVotes)
                    </div>
                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Winner.FullName)
                    </div>
                    <div class="col-md-1">
                        @Ajax.ActionLink("Edit On", "_EditElectionInfoOnline", new { id = item.VotingId }, new AjaxOptions
                   {
                       HttpMethod = "POST",
                       InsertionMode = InsertionMode.Replace,
                       OnSuccess = "onSuccess",
                   }, new { @class = "btn btn-info" })


                        @Html.ActionLink("Add Candidate", "Details", new { id = item.VotingId }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Results", "ShowResults", new { id = item.VotingId }, new { @class = "btn btn-info" })

                        @Html.ActionLink("Close", "Close", new { id = item.VotingId }, new { @class = "btn btn-default", onclick = "return confirm('Are you sure to close this votation?')" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.VotingId }, new { @class = "btn btn-default"})
                    </div>


            }

    



    </section>