@model IEnumerable<OnlineVoting.Models.VotingIndexView>
@{
    ViewBag.Title = "Results";
}


<div class="row">


<div class="col-md-8">
    <hr />

    <h2>Election Results</h2>

    <p>
        @ViewBag.Message
    </p>

</div>


<div class="col-md-8">
    @using (Ajax.BeginForm("ResultsIndexSearch", "Votings", null, new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "ResultTarget"
    })) //skickar Id till post funktionen i controller
    {

        @Html.TextBox("SearchText", null, new { id = "SearchText" })
        <input type="submit" value="Search" class="btn btn-primary" />

    }
</div>

</div>

<div class="row">



    <div class="row">

        @*-------------------------test--------------------------------------*@

        <div class="col-md-8">
            <hr />

            <div class="col-md-6">


                @using (Ajax.BeginForm("ResultsIndexOrderBy", "Votings", null, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                UpdateTargetId = "ResultTarget"
            })) //skickar Id till post funktionen i controller
            {
                    <table class="table" id="TabelOrder">
                        <tr>
                            <th colspan="5" scope="colgroup">
                                Order by status of election or by year
                            </th>
                        </tr>

                        <tr>
                            <th>
                                State
                            </th>
                            <th>
                                Year
                            </th>
                            <th>
                                Month
                            </th>
                        </tr>
                        <tr>
                            <td>

                                @Html.DropDownList("SelectedYear", "Select")

                            </td>
                            <td>
                                <div id="MonthBox">

                                    @Html.DropDownList("SelectedMonths", "Select")

                                </div>
                            </td>

                        <tr>
                    </table>

                    <input type="submit" value="Order By" class="btn btn-primary" />
                    <hr />
                }


            </div>



        </div>
        @*---------------------------------------------------------------*@

    </div>

</div>

    <div id="ResultTarget">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.State.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTimeStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTimeEnd)
                </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.IsForAllUsers)
                    </th> *@

                <th>
                    @Html.DisplayNameFor(model => model.IsEnableBlankVote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantityVotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantityBlankVotes)
                </th>
                <th>
                    Winner
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.State.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTimeStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTimeEnd)
                    </td>

                    @*<td>
                            @Html.DisplayFor(modelItem => item.IsForAllUsers)
                        </td>*@

                    <td>
                        @Html.DisplayFor(modelItem => item.IsEnableBlankVote)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityVotes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityBlankVotes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Winner.FullName)
                    </td>
                    <td>
                        @Html.ActionLink(
                "Results",
                "ShowResults",
                new { id = item.VotingId },
                new { @class = "btn btn-primary", target = "_blank" }) |
                    </td>
                </tr>
            }
        </table>

    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script type="text/javascript">

            $("#MonthBox").hide();// gömer monadas list rutan

            var url = '@Url.Action("FetchMonthsResults")';//Funktion som körs i VotingController

            // gör så en ruta med månader kommer är man valt år, anars är den dåld
            $('#SelectedYear').change(function () {
                $.getJSON(url, { selectedYear: $(this).val() }, function (data) {
                    $("#MonthBox").show("highlight", { color: "#7FAAFF" }, 1000);// får fram månads list rutan

                    $("#SelectedMonths").empty();// tömer listan på månader när man ändrar år

                    var options = $("#SelectedMonths");
                    $.each(data, function (key, value) {
                        options.append($("<option></option>").val(value.MonthsID).html(value.Months));// tar i mot jason objekter man får från controllern
                    });

                });
            });

            // autocomplete som används av sök motorn
            $(function () {

                $("#SearchText").autocomplete({
                    source: '@Url.Action("GetElectionResultsSearch")'
                });

            });


        </script>

    }
